@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');


h1, h2, h3, h4, button{
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway',
    sans-serif;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3F4648;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
